In [1]:
"""Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.
Ans."""

import pandas as pd

# Create a Pandas Series
my_series = pd.Series([4, 8, 15, 16, 23, 42])

# Print the Series
print(my_series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [2]:
"""Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.
Ans."""

import pandas as pd

my_list = [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
my_series = pd.Series(my_list)

print(my_series)

0     2
1     4
2     6
3     8
4    10
5    12
6    14
7    16
8    18
9    20
dtype: int64

In [3]:
"""Q3. Create a Pandas DataFrame that contains the following data:

Then, print the DataFrame."""

import pandas as pd

# Create a dictionary with the data
data = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}

# Create a Pandas DataFrame
my_df = pd.DataFrame(data)

# Print the DataFrame
print(my_df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [4]:
"""Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.
Ans.:in Pandas, a DataFrame is a 2-dimensional labeled data structure that can hold data of different types in columns. It is similar to a 
spreadsheet or a SQL table, where each column can have a different data type (e.g., integer, float, string, etc.) and each row represents
an observation or record. A DataFrame can be thought of as a collection of Pandas Series that share the same index.

On the other hand, a Pandas Series is a 1-dimensional labeled array that can hold data of the same type 
(e.g., integer, float, string, etc.). It can be thought of as a single column in a DataFrame.

Here's an example to illustrate the difference between a Pandas DataFrame and a Pandas Series:"""

import pandas as pd

# Create a dictionary with data for a DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}

# Create a Pandas DataFrame from the dictionary
my_df = pd.DataFrame(data)

# Create a Pandas Series from the 'Age' column of the DataFrame
my_series = my_df['Age']

# Print the DataFrame and the Series
print(my_df)
print('\n')
print(my_series)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female


0    25
1    30
2    27
Name: Age, dtype: int64

In [5]:
"""Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?
Ans.:Pandas provides a wide range of functions for manipulating data in a DataFrame. Here are some common functions:

head() and tail(): These functions return the first or last n rows of a DataFrame, respectively. They are often used to quickly inspect 
the structure and contents of a DataFrame.

info() and describe(): These functions provide summary information about the DataFrame, such as column names, data types, number of 
non-null values, mean, standard deviation, minimum and maximum values, etc.

sort_values(): This function sorts the DataFrame by one or more columns in ascending or descending order. It is often used to reorder 
the rows of the DataFrame based on certain criteria.

groupby(): This function groups the rows of the DataFrame based on one or more columns and applies a function to each group. It is often 
used to aggregate or summarize data by category.

drop(): This function removes one or more columns or rows from the DataFrame. It is often used to remove irrelevant or redundant data 
from the DataFrame.

fillna(): This function fills missing or null values in the DataFrame with a specified value or method. It is often used to handle missing
data in a meaningful way.

apply(): This function applies a function to each element or row of the DataFrame. It is often used to transform or manipulate the data 
in a customized way.

For example, let's say we have a DataFrame sales with sales data for different products and regions, and we want to calculate the total 
sales for each product. We can use the groupby() function to group the data by product name, and then apply the sum() function to the 
'Sales' column to get the total sales for each product:"""
import pandas as pd

# Create a sample DataFrame
data = {
    'Product': ['A', 'A', 'B', 'B', 'B', 'C', 'C', 'C'],
    'Region': ['North', 'South', 'East', 'West', 'North', 'East', 'West', 'North'],
    'Sales': [100, 200, 150, 250, 300, 120, 180, 220]
}
sales = pd.DataFrame(data)

# Group the data by product name and calculate the total sales
total_sales = sales.groupby('Product')['Sales'].sum()

print(total_sales)

Product
A    300
B    700
C    520
Name: Sales, dtype: int64

In [ ]:
"""Q6. Which of the following is mutable in nature Series, DataFrame, Panel?
Ans.:In Pandas, Series and DataFrame are mutable objects, while Panel is deprecated since version 0.25.0 and replaced with the MultiIndex 
objects.

A mutable object is an object whose content can be changed after creation. In other words, if we modify a mutable object, its memory 
address remains the same. For example, we can add, delete or update elements in a Series or a DataFrame.

In contrast, an immutable object is an object whose content cannot be changed after creation. In other words, if we modify an immutable 
object, a new memory address is created for the modified object. Examples of immutable objects include strings, tuples, and frozensets."""

In [6]:
"""Q7. Create a DataFrame using multiple Series. Explain with an example.
Ans.: In Pandas, Series and DataFrame are mutable objects, while Panel is deprecated since version 0.25.0 and replaced with the MultiIndex 
objects.

A mutable object is an object whose content can be changed after creation. In other words, if we modify a mutable object, its memory 
address remains the same. For example, we can add, delete or update elements in a Series or a DataFrame.

In contrast, an immutable object is an object whose content cannot be changed after creation. In other words, if we modify an immutable 
object, a new memory address is created for the modified object. Examples of immutable objects include strings, tuples, and frozensets."""

import pandas as pd

# Create three Series objects
names = pd.Series(['Alice', 'Bob', 'Claire'])
ages = pd.Series([25, 30, 27])
genders = pd.Series(['Female', 'Male', 'Female'])

# Create a DataFrame using the three Series objects
df = pd.DataFrame({'Name': names, 'Age': ages, 'Gender': genders})

# Print the DataFrame
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female